@CHARSET "UTF-8";

.body{
	width: 100%;
	height: 100%;
	background-color: #ffffff;
}

.fontColor{
	background-color: #ffffff;
}

.background{
	margin: 0 auto;
	width:100%;
	height: 500px;
	background-color: #ffffff;
}
.head{
	height:50px;
	background-color: #DCDCDC;
}

.login{
	
	float:right;
	margin-right:20px;
	width: 200px;
	height: 150px;
	background-color: #ffffff;
}

.log{
	margin-top: 10px;
	float: right;
}

.pass{
	margin-top: 10px;
	float: right;
}

.submit{
	margin-top: 20px;
	float: right;
}

.linkRegistration{
	margin-top: 10px;
	float: right;
}
.link{
	float:right;
	margin-top:10px;
	margin-left: 30px;
}

.prop{
	clear: both;
	
}
.welcomeLogo{
	text-align: center;
	font-family: fantasy;
	font-size: xx-large;
}
.searchLineContainer{
	margin-left: 50px;
	
}
.submitSearch{
	margin-top: 30px;
	
}
.searchLine{
	
	
	
}
.searchLineEdit{
	
	
}
.chechBox{
	margin-top:20px;
}
.checkBoxAuthor{
	
	float:left;
}
.checkBoxKeyWorb{
	float:left;
}
.searchresult{
	
	margin-left: 70px;
	
	
	background-color: #ffffff;
}
.showResult{
	margin-top: 30px;
	height:40px;
}
.audioControls{
	float: left;
}

.playItem{
	float: left;
}
.button{
	height:20px;
	margin-left:15px;
	float:left;
}
.footer{
	margin-bottom: 0px;
	height: 40px;
	background-color: #ffffff;
	
}
.playAll{
	
	margin-top: 40px;
}
.copyright{
	text-align: right;
	margin-top: 38px;
}